DB_NAME=medplan_development
DB_USER=medplan
DB_PASSWORD=MyPassword

USER_ID=-1000
GROUP_ID=-1000

RAILS_ENV=development
RAILS_DATABASE_URL=postgres://medplan:MyPassword@postgres/medplan_development
RAILS_SERVE_STATIC_FILES=true
RAILS_GROUP_MENU=true
RAILS_REDIS_URL=redis://redis:6379/1

RAILS_EMAIL_DOMAIN="@domain.com"

OIDC_NAME=sso
OIDC_ISSUER=https://sso.domain.com
OIDC_CLIENT_ID=sso-client-id
OIDC_CLIENT_SECRET=MyLittleSecrets
OIDC_REDIRECT_URI=http://localhost:3000/auth/sso/callback
OIDC_SCOPE=openid email profile