.container
  %article.mt-6.has-text-centered
    .message-body
      %p
        %h3.title.is-3.is-uppercase.has-text-danger Accesso all'applicativo e' consentito previa autenticazione.
      %p
        %h5.subtitle.is-5 Effettua l'accesso con un utente autorizzato.