Buongiorno #{@user.label},

sono presenti nuovi eventi programmati per Lei dalla Segreteria Medica.

Per visualizzare e confermare gli eventi seguire il link: #{Settings.app.url}

Al link segnalato potrà scegliere una data tra quelle indicate (l’orario non è modificabile).
Si precisa che il giorno della settimana stabilito per l'esecuzione degli esami è SEMPRE il GIOVEDI'.

Scegliere una data e cliccare su convalida entro 4 giorni lavorativi dalla ricezione della presente.

Si prega, infine, di indicare nello spazio "Emergenze" che compare nel box Informazioni Generali un numero di telefono cellulare per eventuali comunicazioni urgenti.

Per gli accertamenti sanitari, ISPRA è convenzionata con il laboratorio MARILAB S.r.l. – Via Caffaro n. 137 – Roma, raggiungibile con Metro B – fermata Garbatella.

Si ricorda che sottoporsi ai controlli sanitari previsti dal D.Lgs 81/2008 o comunque dal medico competente è un obbligo di legge (art. 20, c.2, let. i, D.Lgs n. 81/08).

La mancata presentazione all’appuntamento senza giustificato motivo comporta la segnalazione al Suo Dirigente.
