Buongiorno #{ @user.label },

la Segreteria Medica ha programmato un nuovo appuntamento per il Suo controllo sanitario.

Per visualizzare e confermare l'appuntamento, deve seguire questo link: #{ Settings.app.url }

Nella pagina saranno indicate la data e l'ora della visita.


Per confermare l'appuntamento, clicca su "PRESA VISIONE".

Si presenti presso l'Ambulatorio, situato al secondo piano, stanza 210, di Via V. Brancati, 48 - lato bancomat.

In casi eccezionali, se ha bisogno di modificare la data dell'appuntamento, può scrivere  a: medico.gestione@isprambiente.it

Per favore, inserisca un numero di cellulare per eventuali comunicazioni urgenti nello spazio "Emergenze" del box "Informazioni Generali".

Si ricorda che sottoporsi ai controlli sanitari previsti dal D.Lgs 81/2008 è un obbligo di legge (art. 20, c.2, let. i, D.Lgs n. 81/08).


La mancata presentazione all’appuntamento senza giustificato motivo comporta la segnalazione al Suo Dirigente.
