%p
  Buongiorno #{@user.label},
%p la Segreteria Medica ha programmato un nuovo appuntamento per il Suo controllo sanitario.
%p
  Per visualizzare e confermare l'appuntamento, deve seguire questo link
  %a{href: "#{Settings.app.url}"}= Settings.app.url
%p Nella pagina saranno indicate la data e l'ora della visita.
%p Per confermare l'appuntamento, clicca su "PRESA VISIONE".
%p Per le sedi di Roma, presentarsi presso l'Ambulatorio situato al piano terra lato ex banca di Via V. Brancati, 48.
%p
  In casi eccezionali, se ha bisogno di modificare la data dell'appuntamento, NON rispondere a questa mail ma scrivere all'indirizzo:
  %a{:href => "mailto:#{Settings.email}"}= Settings.email
%p
  In casi eccezionali, se ha bisogno di modificare la data dell'appuntamento, può scrivere  a:
  %a{:href => "mail_to:#{Settings.email}"}= Settings.email
%p Per favore, inserisca un numero di cellulare per eventuali comunicazioni urgenti nello spazio "Emergenze" del box "Informazioni Generali".
%br/
%p Si ricorda che sottoporsi ai controlli sanitari previsti dal D.Lgs 81/2008 è un obbligo di legge (art. 20, c.2, let. i, D.Lgs n. 81/08).
%p La mancata presentazione all’appuntamento senza giustificato motivo comporta la segnalazione al Suo Dirigente.
%p
  %b Questa comunicazione è stata generata automaticamente.
%p
  %b Si prega di non rispondere a questa email, poiché la casella di posta non è monitorata.