%p
  Buongiorno #{@user.label},
%p sono presenti nuovi eventi programmati per Lei dalla Segreteria Medica.
%p
  Per visualizzare e confermare gli eventi seguire il link:
  %br/
  %a{:href => "#{Settings.app.url}"}= Settings.app.url
%p
  Al link segnalato potrà scegliere una data tra quelle indicate (l’orario non è modificabile).
  %br/
  Si precisa che il giorno della settimana stabilito per l'esecuzione degli esami è SEMPRE il GIOVEDI'.
%p
  Scegliere una data e cliccare su convalida 
  %b entro 4 giorni lavorativi 
  dalla ricezione della presente.
%p
  Si prega, infine, di indicare nello spazio "Emergenze" che compare nel box Informazioni Generali un numero di telefono cellulare per eventuali comunicazioni urgenti.
%p
  Per gli accertamenti sanitari, ISPRA è convenzionata con il laboratorio MARILAB S.r.l. – 
  %a{href: 'https://www.google.com/maps/search/Via+Caffaro+n.+137+%E2%80%93+Roma?entry=gmail&source=g', target: '_blank' } Via Caffaro n. 137 
  – Roma, raggiungibile con Metro B – fermata Garbatella.
%p
  Si ricorda che sottoporsi ai controlli sanitari previsti dal D.Lgs 81/2008 o comunque dal medico competente è un obbligo di legge (art. 20, c.2, let. i, D.Lgs n. 81/08).
%p
  La mancata presentazione all’appuntamento senza giustificato motivo comporta la segnalazione al Suo Dirigente.
