Buongiorno #{@user.label},
  sono presenti nuovi eventi programmati per Lei dalla Segreteria Medica.

Per visualizzare e confermare gli eventi seguire il link: #{ Settings.app.url }

Al link segnalato potrà scegliere una data tra quelle indicate (l’orario non è modificabile).

Si precisa che il giorno della settimana stabilito per l'esecuzione degli esami è SEMPRE il GIOVEDI'.

Scegliere una data e cliccare su convalida entro 2 giorni lavorativi dalla ricezione della presente.

Indicare nello spazio "Emergenze" che compare nel box Informazioni Generali un numero di telefono cellulare per eventuali comunicazioni urgenti.

Si ricorda che sottoporsi ai controlli sanitari previsti dal D.Lgs 81/2008 o comunque dal medico competente è un obbligo di legge (art. 20, c.2, let. i, D.Lgs n. 81/08).

La mancata presentazione all’appuntamento senza giustificato motivo comporta la segnalazione al Suo Dirigente. 

Per gli accertamenti sanitari, ISPRA è convenzionata con MARILAB S.r.l.

Gli esami potranno essere svolti agli indirizzi di seguito elencati:
  > Roma: MARILAB S.r.l. - Via Caffaro n. 137 – Roma, raggiungibile con Metro B – fermata Garbatella.
  > Milazzo: Medical Center Umberto I S.r.l.- Via Umberto I n. 143 - Milazzo
  > Palermo: PA.MA.FI.R Centro Medico Plurispecialistico S.r.l.  – Via Villa Rosato n. 2 - Palermo
  > Livorno: Biolabor S.r.l. – Via G. March n. 20 - Livorno
  > Chioggia: Analisi Mediche Pavanello S.r.l. – via Bravi n. 47 – Ponte di Brenta (PD)
  > Venezia: Diagnostica Riviera S.r.l. - Via Bologna n. 5/A - Mira (VE)
  > Ozzano dell’Emilia: Synlab Medical S.r.l. – Via del lavoro n. 40 - Bologna
