= turbo_frame_tag 'users', class: 'rows' do
  - unless @users.blank?
    = render @users
    .columns.mt-3
      .column.is-full= "#{@pagy.series_nav(:bulma)}".html_safe
  - else
    .columns
      .column.is-full.has-text-centered Nessun utente trovato