%a.panel-block.columns{ href: edit_event_path(id: event.id, filter: {view: 'modal'}), data: { turbo_frame: 'modal' }}
  .column= fas_icon( 'calendar', text: l(event.date_on) )
  .column.is-2.has-text-right= t(event.gender, scope: 'event.gender')