.columns.is-desktop
  .is-hidden-tablet
    #filters_col.quickview.is-left
      %header.quickview-header.has-shadow{style: 'min-height: 50px !important;'}
        %p.title.has-text-weight-bold Filtri la ricerca
        %span.delete{ data: { dismiss: "quickview", controller: 'menu', menu_id: 'filters_col', action: 'click->menu#close' } }
      .quickview-body.pt-4.px-4= render partial: 'home/filters'
  .column.is-3-desktop.is-hidden-touch= render partial: 'home/filters'
  .column
    %p.helper.is-hidden-desktop.is-right
      %a.button{data: {controller: 'menu', action: 'click->menu#open', menu_id: 'filters_col'}}
        Ricerca avanzata
    = turbo_frame_tag 'users', class: 'rows', src: home_list_path(filter: @filter_params), alt: 'Nessuna riga trovata' do
      .loading.has-text-centered= fas_icon 'cog fa-pulse', text: 'Caricamento in corso'
