- response = false unless defined? response
%article#audits.message
  .message-header Idoneità
  .message-body.is-paddingless
    .list
      .columns.head.is-mobile
        .column.is-6.has-text-left= t('title', scope: 'category')
        .column.is-3.has-text-left.is-hidden-mobile= t('state', scope: 'audit')
        .column.is-2.has-text-left.is-hidden-mobile= t('next_visit', scope: 'audit')
        - if response
          .column.is-1-desktop.is-2-touch.has-text-left.is-hidden-mobile
    - if @audits.present?
      %turbo-frame.rows= render @audits
    - else
      .column.is-full.has-text-centered  Nessuna categoria di rischio selezionata