.container{ data: { controller: 'risks' } }
  .level
    .level-left
      %h3.title.is-3= t('title', scope: 'risk' )
    .level-right= link_to fas_icon('plus', text: t('new', scope: 'risk')), new_risk_path, class: 'button is-fullwidth is-link', data: { action: 'ajax:success->modal#open', title: "Nuovo rischio" }, remote: true
  #risks.box{ data: { target: 'risks.container' } }= render 'index'
