= turbo_frame_tag 'risks', class: 'rows' do
  - unless @risks.blank?
    = render @risks
    .columns
      .column.is-full= "#{pagy_bulma_nav(@pagy)}".html_safe
  - else
    .columns
      .column.is-full.has-text-centered Nessun rischio trovato