= turbo_frame_tag 'risks', class: 'rows' do
  - unless @risks.blank?
    = render @risks
    .columns
      .column.is-full= "#{@pagy.series_nav(:bulma)}".html_safe
  - else
    .columns
      .column.is-full.has-text-centered Nessun rischio trovato