.quickview
  .quickview-header
    min-height: 32px !important
    background-color: $primary
    .title
      color: $white
  .quickview-body
    .menu-label
      padding: 0 1rem
    ul.menu-list
      li
        padding: 0 1rem