/* CSS SEDI */
.chioggia
  border-left: 4px solid #d4d48d
label.chioggia, .tag.chioggia
  background-color: scale-color($warning, $lightness: 70%)
.livorno
  border-left: 4px solid #FE2E9A
label.livorno, .tag.livorno
  background-color: scale-color(#FE2E9A, $lightness: 70%)
.milazzo
  border-left: 4px solid $info
label.milazzo, .tag.milazzo
  background-color: scale-color($info, $lightness: 70%)
.ozzano
  border-left: 4px solid #9F81F7
label.ozzano, .tag.ozzano
  background-color: scale-color(#9F81F7, $lightness: 70%)
.palermo
  border-left: 4px solid #CDCD5D
label.palermo, .tag.palermo
  background-color: scale-color(#F7FE2E, $lightness: 70%)
.roma
  border-left: 4px solid $success
label.roma, .tag.roma
  background-color: scale-color($success, $lightness: 70%)
.venezia
  border-left: 4px solid $link
label.venezia, .tag.venezia
  background-color: scale-color($link, $lightness: 70%)
.other
  border-left: 4px solid $grey-lighter
label.other, .tag.other
  background-color: scale-color($grey-lighter, $lightness: 70%)

/* Fine */
