@charset "utf-8"

@use 'sass:list'
@use "bulma/sass/utilities/css-variables" as cv
@use "bulma/sass/utilities/mixins" as mixins

html, body
  margin: 0
  // overflow-y: auto
  // overflow-x: hidden

html
  font-family: 'Open Sans', sans-serif
  font-size: 13px
  color: var(--bulma-black)

body
  line-height: 1.6

@media print
  table, .top-bar
    display: none !important
  .no-print, .no-print *
    display: none !important

header
  .hero-body
    padding: 1rem 1.5rem

.fa5-text
  padding-left: 0.5rem

.is-nowrap
  white-space: nowrap

.has-spaced
  padding: 2rem 0

.is-spaced
  margin: 1.5rem 0

.is-hidden-touch.is-active
  display: block !important

.is-sticky
  position: sticky
  top: 0
  z-index: 1

.is-transparent
  background: transparent !important

.is-borderless
  border: 0 !important

i.fa
  padding-right: 0.5rem

nav.breadcrumb
  text-transform: uppercase
  letter-spacing: 1px
  margin: 0.7rem 0.5rem 2rem !important
  li
    &:before
      padding-right: 0.5rem
    a, a:link, a:visited, a:hover
      color: #444

#page
  overflow-y: hidden
  overflow-x: hidden
  padding: 0.5rem 0.2rem 5rem

.turbolinks-progress-bar
  height: 5px
  background: var(--bulma-danger)

.is-hoverable
  tbody, &.columns
    &:hover
      background-color: var(--bulma-grey-lighter)

label.is-required
  &:after
    content: '*'
    margin-left: 0.1rem
    color: var(--bulma-danger)
    &:hover
      content: 'required'
      cursor: 'help'

.message-body
  .columns
    margin-bottom: 0px

.is-disabled, .disabled, :disabled, [disabled]
  pointer-events: none !important

#menu
  .quickview-body
    .section
      padding: 1rem !important

.help
  cursor: help

.has-shadow
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.02)

nav.panel.filters
  span.panel-container
    max-height: 180px
    overflow-y: auto
    display: inline-block
    width: 100%
  a.panel-block
    margin: 0 !important
    padding: 0em 0.75em
    .panel-icon
      visibility: hidden
    &.is-active
      .panel-icon
        visibility: visible
        .icon
          display: inline-table
    .column
      padding: 0.3rem



.visit, a.visit
  background: #ffae00
  color: #fff
  margin: 0 2px

.analisys, a.analisys
  background: var(--bulma-success)
  color: #fff
  margin: 0 2px

a.proposed:link, a.proposed:visited, a.proposed:active
  background: var(--bulma-info)
  color: var(--bulma-white)
a.proposed:hover
  background: var(--bulma-info-dark)
a.proposed.disabled:hover
  background: var(--bulma-info)
a.waiting:link, a.waiting:visited, a.waiting:active
  background: var(--bulma-warning)
a.waiting:hover
  background: var(--bulma-warning-dark)
a.waiting.disabled:hover, a.waiting.disabled:visited, a.waiting.disabled:link
  background: var(--bulma-warning)
a.confirmed:link, a.confirmed:visited, a.confirmed:active
  background: var(--bulma-success)
  color: var(--bulma-white)
a.confirmed:hover
  background: var(--bulma-success-dark)
a.confirmed.disabled:hover, a.confirmed.disabled:visited, a.confirmed.disabled:link
  background: var(--bulma-success)
a.blocked:link, a.blocked:visited, a.blocked:active
  background: var(--bulma-grey-lighter)
  color: var(--bulma-white)
a.blocked:hover
  background: var(--bulma-grey-dark)
a.blocked.disabled:hover, a.blocked.disabled:visited, a.blocked.disabled:link
  background: var(--bulma-grey-lighter)

.expired
  color: var(--bulma-danger)


// Test
@include mixins.mobile
  .column
    max-width: 100% !important

input[pattern]:invalid
  box-shadow: 0 0 5px 1px var(--bulma-danger)

.editable
  cursor: url('../images/edit.gif') 0 0, pointer

.swal2-html-container
  overflow: hidden !important

.swal2-popup
  @include mixins.desktop
    width: 70% !important
  @include mixins.tablet
    width: 90% !important
  @include mixins.mobile
    width: 100% !important

.rows
  margin-bottom: 1rem
  turbo-frame
    .row, .has-background-parent
      background: var(--bulma-scheme-main) !important
    &:nth-child(odd)
      .row, .has-background-parent
        background: var(--bulma-grey-lighter)
    .row
      margin: 0rem 0
      border: 1px solid #f5f5f5
      background: var(--bulma-white)
      &:hover
        background: var(--bulma-warning-light) !important
        color: var(--bulma-black) !important
      &.is-newer
        background: var(--bulma-warning-light) !important
        border: 1px solid var(--bulma-danger) !important
      .column
        & > a.button, & > form
          margin-top: 0.3rem !important
        .list
          background-color: #faebd7
      .has-alert, .expired
        color: var(--bulma-danger)

.is-scrollable
  max-height: 17rem
  overflow-y: auto

@include cv.system-theme($name: "dark")
  .has-alert, .expired
    color: var(--bulma-danger-invert) !important
