//!
// Modifiche grafiche partendo dal CSS in versione FullCalendar v2.2.6
// Sovrascrivo classi esistenti nel CSS originale

#calendar
  margin: 0 auto
  .fc-theme-standard td, .fc-theme-standard th
    border-color: #aaa
  td.fc-day-today
    background-color: #ffa
  td.fc-day-past
    background-color: #E6E6E6