
:root
  --swal2-background: var(--bulma-body-background-color) !default

$swal2-background: var(--bulma-body-background-color) !default

.swal2-html-container
  background-color: $swal2-background !important
  text-align: left !important
  overflow-x: hidden !important
  overflow-y: hidden !important
.swal2-title
  background-color: $swal2-background !important
.ss-content
  z-index: 10100 !important
.swal2-close
  background-color: var(--bulma-danger) !important
  border-top-left-radius: 0px !important
  border-bottom-right-radius: 0px !important
  border-top-right-radius: 0px !important