.container
  .level
    .level-left
      %h3.title.is-3= t('title', scope: 'category' )
    .level-right= link_to fas_icon('plus', text: t('new', scope: 'category')), new_category_path, class: 'button is-fullwidth is-link', data: { turbo_frame: 'yield', title: "Nuova categoria di rischio" }
  = turbo_frame_tag 'categories', class: 'rows', src: list_categories_path, alt: 'Nessuna riga trovata' do
    .loading.has-text-centered= fas_icon 'cog fa-pulse', text: 'Caricamento in corso'
